@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

* {
	box-sizing: border-box;
}

body{
	background: #E2D0CE url('../img/bg.jpg') no-repeat center center/cover;
	color: #543d3a;
	font-family: 'Arimo', sans-serif;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

h1{
	margin: 100px 0 0 0;
	font-size: 3em;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 300px;
	margin: auto;
	position: relative;
	transform: scale(1);
}

.gradient-circle{
	background: conic-gradient(
    #fa8083 0%,
    #fa8083 40%,
    #fff 40%,
    #fff 60%,
    #c0323b 60%,
    #c0323b 100%
  	);
	height: 320px;
	width: 320px;
	top: -10px;
	left: -10px;
	z-index: -2;
	border-radius: 50%;
	position: absolute;
}

.circle{
	background-color: #FFA87B;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 50%;
}

.pointer-container{
	position: absolute;
	top: -40px;
	left: 140px;
	width: 20px;
	height: 190px;
	animation: rotate 7.5s linear forwards infinite;
	transform-origin: bottom center;
}

.pointer{
	background: #fff;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: block;
}

.container.grow{
	animation: grow 3s linear forwards;
}

.container.shrink{
	animation: shrink 3s linear forwards;
}


@keyframes rotate {
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(360deg)
	}
}

@keyframes grow {
	from{
		transform: scale(1)
	}
	to{
		transform: scale(1.2)
	}
}

@keyframes shrink {
	from{
		transform: scale(1.2)
	}
	to{
		transform: scale(1)
	}
}

@media(max-width: 700px){
	.container{
		width: 180px;
		height: 180px;
	}

	.gradient-circle{
		width: 200px;
		height: 200px;
	}

	.pointer-container{
		position: absolute;
		height: 125px;
		top: -35px;
		left: 80px;
		width: 20px;
	}
}










